<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hiiiiii.... <%= user.name %></h2>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <% if(users.length > 0){
                for (let i = 0; i < users.length; i++) {
                    %>
                    
                    <li class="list-group-item list-group-item-dark cursor-pointer user-list">
                     <img src="<%= 'http://127.0.0.1:3000/'+users[i]['image']%>" alt="" width="50px" height="50px" style="border-radius: 40px;">   
                    <%= users[i]['name']%>    
                    </li>
                    <%
                    
                }
            } %>        
        </ul>
    </div>
    <div class="col-md-9">
            <h3 class="start-head">Click Here To Start</h3>
            <div class="chat-section">
                <div id="chat-container">
                    
                </div>
                <form action="" id="chat-form">
                      <input type="text" name="message" placeholder="Enter Message Here" id="message" class="border" required>
                        <input type="submit" value="Send Message" class="btn btn-success">
                </form>
              
            </div>
    </div>

</div>


<script>

    var sender_id='<%=user._id %>';

    var socket=io('/user-namespace',{
        auth:{
            token: '<%=user._id %>'
        }
    });
    
    $(document).ready(function(){
        $('.user-list').click(function(){
            $('.start-head').hide();
            $('.chat-section').show();
        })
    });    
    
</script>

<%- include('layouts/footer.ejs') %>